* {
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.scroll-content::-webkit-scrollbar {
  display: none;
}
.scroll-content {
  scrollbar-width: none;
}

/* Custom styling to disable text selection while dragging */
.no-select {
  user-select: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* FONTS */
.display-3xl-regular,
.display-3xl-medium,
.display-3xl-semibold,
.display-3xl-bold {
  font-size: 96px;
  font-family: 'Inter', sans-serif;
  line-height: 90px;
  letter-spacing: -2%;
  word-wrap: break-word;
}

.display-3xl-regular {
  font-weight: 400;
}
.display-3xl-medium {
  font-weight: 500;
}
.display-3xl-semibold {
  font-weight: 600;
}
.display-3xl-bold {
  font-weight: 700;
}

.display-2xl-regular,
.display-2xl-medium,
.display-2xl-semibold,
.display-2xl-bold {
  font-size: 72px;
  font-family: 'Inter', sans-serif;
  line-height: 90px;
  word-wrap: break-word;
}

.display-2xl-regular {
  font-weight: 400;
}
.display-2xl-medium {
  font-weight: 500;
}
.display-2xl-semibold {
  font-weight: 600;
}
.display-2xl-bold {
  font-weight: 700;
}

.display-xl-regular,
.display-xl-medium,
.display-xl-semibold,
.display-xl-bold {
  font-size: 60px;
  font-family: 'Inter', sans-serif;
  line-height: 72px;
  word-wrap: break-word;
}

.display-xl-regular {
  font-weight: 400;
}
.display-xl-medium {
  font-weight: 500;
}
.display-xl-semibold {
  font-weight: 600;
}
.display-xl-bold {
  font-weight: 700;
}

.display-lg-regular,
.display-lg-medium,
.display-lg-semibold,
.display-lg-bold {
  font-size: 48px;
  font-family: 'Inter', sans-serif;
  line-height: 60px;
  word-wrap: break-word;
}

.display-lg-regular {
  font-weight: 400;
}
.display-lg-medium {
  font-weight: 500;
}
.display-lg-semibold {
  font-weight: 600;
}
.display-lg-bold {
  font-weight: 700;
}

.display-md-regular,
.display-md-medium,
.display-md-semibold,
.display-md-bold {
  font-size: 36px;
  font-family: 'Inter', sans-serif;
  line-height: 44px;
  word-wrap: break-word;
}

.display-md-regular {
  font-weight: 400;
}
.display-md-medium {
  font-weight: 500;
}
.display-md-semibold {
  font-weight: 600;
}
.display-md-bold {
  font-weight: 700;
}

.display-sm-regular,
.display-sm-medium,
.display-sm-semibold,
.display-sm-bold {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  line-height: 38px;
  word-wrap: break-word;
}

.display-sm-regular {
  font-weight: 400;
}
.display-sm-medium {
  font-weight: 500;
}
.display-sm-semibold {
  font-weight: 600;
}
.display-sm-bold {
  font-weight: 700;
}

.display-xs-regular,
.display-xs-medium,
.display-xs-semibold,
.display-xs-bold {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  line-height: 32px;
  word-wrap: break-word;
}

.display-xs-regular {
  font-weight: 400;
}
.display-xs-medium {
  font-weight: 500;
}
.display-xs-semibold {
  font-weight: 600;
}
.display-xs-bold {
  font-weight: 700;
}

.text-xl-regular,
.text-xl-medium,
.text-xl-semibold,
.text-xl-bold {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  line-height: 30px;
  word-wrap: break-word;
}

.text-xl-regular {
  font-weight: 400;
}
.text-xl-medium {
  font-weight: 500;
}
.text-xl-semibold {
  font-weight: 600;
}
.text-xl-bold {
  font-weight: 700;
}

.text-lg-regular,
.text-lg-medium,
.text-lg-semibold,
.text-lg-bold {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  line-height: 28px;
  word-wrap: break-word;
}

.text-lg-regular {
  font-weight: 400;
}
.text-lg-medium {
  font-weight: 500;
}
.text-lg-semibold {
  font-weight: 600;
}
.text-lg-bold {
  font-weight: 700;
}

.text-md-regular,
.text-md-medium,
.text-md-semibold,
.text-md-bold {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  line-height: 24px;
  word-wrap: break-word;
}

.text-md-regular {
  font-weight: 400;
}
.text-md-medium {
  font-weight: 500;
}
.text-md-semibold {
  font-weight: 600;
}
.text-md-bold {
  font-weight: 700;
}

.text-sm-regular,
.text-sm-medium,
.text-sm-semibold,
.text-sm-bold {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  line-height: 20px;
  word-wrap: break-word;
}

.text-sm-regular {
  font-weight: 400;
}
.text-sm-medium {
  font-weight: 500;
}
.text-sm-semibold {
  font-weight: 600;
}
.text-sm-bold {
  font-weight: 700;
}

.text-xs-regular,
.text-xs-medium,
.text-xs-semibold,
.text-xs-bold {
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  line-height: 18px;
  word-wrap: break-word;
}

.text-xs-regular {
  font-weight: 400;
}
.text-xs-medium {
  font-weight: 500;
}
.text-xs-semibold {
  font-weight: 600;
}
.text-xs-bold {
  font-weight: 700;
}

#default.Toastify .Toastify__toast-container {
  padding: 0;
  width: 400px;
}

#default.Toastify .Toastify__toast-container .Toastify__toast {
  overflow: inherit !important;
}

#default .Toastify__toast-body {
  padding: 0;
}

#default .Toastify__toast-theme--light.Toastify__toast--default {
  padding: 0;
  background: transparent;
  box-shadow: none;
}

.simplebar-content {
  height: 100%;
}

.simplebar-placeholder {
  width: auto !important;
}

/* date range */
.rdrMonth {
  width: 100% !important;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.rdrWeekDay {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  line-height: 20px;
  word-wrap: break-word;
  font-weight: 500;
}

.rdrDays {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  line-height: 20px;
  word-wrap: break-word;
  font-weight: 400;
}

/* .rdrCalendarWrapper {
  display: flex;
} */

.rdrDateDisplayWrapper {
  display: none;
}

/* .rdrMonthAndYearWrapper {
  height: 100%;
  padding-top: 0;
} */

/* .rdrMonth {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
} */

/* .rdrMonths.rdrMonthsVertical .rdrWeekDays span.rdrWeekDay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
  color: #344054;
} */

/* .rdrDays {
  row-gap: 4px;
} */

/* .rdrDay {
  height: 40px;
} */

/* .rdrDay .rdrSelected {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 9999px;
} */

/* .rdrDayPassive .rdrDayNumber span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  color: #667085;
} */

/* .rdrDay .rdrDayNumber,
.rdrDayToday .rdrDayNumber span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  color: #1d2429;
} */
/* .rdrDay.rdrDayDisabled .rdrDayNumber,
.rdrDayToday.rdrDayDisabled .rdrDayNumber span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  color: #aeb9bf;
} */

/* .rdrDay .rdrDayNumber {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
} */

/* .rdrCalendarWrapper:not(.rdrDateRangeWrapper)
  .rdrDayHovered
  .rdrDayNumber:after {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  border-radius: 9999px;
} */

/* .rdrDayToday .rdrDayNumber span:after {
  width: 5px;
  height: 5px;
  border-radius: 9999px;
  background: #55b3d9;
} */

/* .leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
} */

/* .rdrDayStartOfMonth .rdrDayInPreview,
.rdrDayStartOfMonth .rdrDayEndPreview,
.rdrDayStartOfWeek .rdrDayInPreview,
.rdrDayStartOfWeek .rdrDayEndPreview,
.rdrDayEndOfMonth .rdrDayInPreview,
.rdrDayEndOfMonth .rdrDayStartPreview,
.rdrDayEndOfWeek .rdrDayInPreview,
.rdrDayEndOfWeek .rdrDayStartPreview,
.rdrDayStartPreview,
.rdrDayInPreview,
.rdrDayEndPreview {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  border-radius: 9999px;
} */

/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

.custom-bg-inactive-user {
  background-color: rgba(254, 240, 199, 0.5);
}